@import "node_modules/modern-normalize/modern-normalize.css";

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #2196f3;
  --color-secondary: #212121;
  --color-tertiary: #757575;
  --color-background: #f5f4fa;
  --color-white: #ffffff;
  --color-dark: #2f303a;
  --box-shadow-light: 0 8px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
  --bg-feature-color: #f5f4fa;
  --color-svg: #afb1b8;
  --transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
li,
h1,
h2,
h3,
p,
a,
span,
div,
img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 25px;
  border: solid #ececec 1px;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 94px 0 94px 0;
}

header > .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.header-left,
.header-right {
  display: flex;
  width: 50%;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
  gap: 70px;
}

.header-right {
  justify-content: flex-end;
}

.logo-text {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.logo-text > span:nth-of-type(1) {
  color: var(--color-primary);
}

.nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}

.nav-li > a {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 500;
  transition: color var(--transition);
}

.nav-li > a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.nav-li > a:not(.active) {
  color: var(--color-secondary);
}


.nav-addr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 500;
  gap: 40px;
}

.addr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
  color: var(--color-tertiary);
}

.addr > a {
  text-decoration: none;
  color: var(--color-tertiary);
  transition: color var(--transition) ease;
}

.addr:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.addr:hover > a {
  color: var(--color-primary);
}

.icon {
  display: inline;
  stroke-width: 0;
}

.icon-instagram,
.icon-x,
.icon-linkedin,
.icon-facebook {
  width: 20px;
  height: 20px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.icon-email {
  width: 16px;
  height: 12px;
}

.team-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

.team-social > li,
.team-social-link > a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-svg);
}

footer .container {
  display: flex;
  align-items: baseline;
  gap: 94px;
  flex-grow: 1;
}

.pre-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.pre-social h3,
.subsribe-section h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-white);
}

.footer-social > li,
.footer-social-link > a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42434b;
  border-radius: 50%;
  color: var(--color-white);
}

.footer-social > li:hover {
  transition: color var(--transition), background-color var(--transition),
    transform var(--transition);
  color: var(--color-white);
  background-color: var(--color-primary);
  transform: scale(0.9);
  border-radius: 50%;
  cursor: pointer;
}

.team-social > li:hover {
  transition: color var(--transition), background-color var(--transition),
    transform var(--transition);
  color: var(--color-white);
  background-color: var(--color-primary);
  transform: scale(0.9);
  border-radius: 50%;
  cursor: pointer;
}

.team-social-link > a:hover {
  color: var(--color-white);
  cursor: pointer;
}

.footer-social-link > a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.icon-antena,
.icon-clock,
.icon-astronaut,
.icon-diagram {
  width: 70px;
  height: 70px;
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-feature-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section--portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--first {
  flex: 1;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero.jpg");
  position: relative;
  top: 0;
  left: 0;
}

.section--first .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.bnr-text {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: var(--color-white);
}

.order-btn {
  font-family: var(--font-primary);
  padding: 15px 30px;
  border-radius: 4px;
  background-color: var(--color-primary);
  transition: var(--transition);
  box-shadow: var(--box-shadow-light);
  border: 0;
  color: var(--color-white);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.order-btn:hover {
  transform: scale(0.99);
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
}

.section--second {
  padding-bottom: 0;
}

.section--third .container,
.section--fourth .container,
.section--fifth .container {
  text-align: center;
}

.section--second .container {
  display: flex;
  gap: 30px;
  max-width: 0 auto;
  flex-wrap: wrap;
}

.box-intro {
  flex: 1 1 270px;
}

.box-intro > h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

.box-intro > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-tertiary);
  margin-top: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.img-box {
  flex: 1 1 370px;
  position: relative;
  overflow: hidden;
  max-width: 370px;
}


.img-description {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}
.img-description > h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.img-box img {
  object-fit: cover;
}

.custom-scroll {
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.section--fourth {
  flex: 1;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
}

.team-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.team-box {
  flex: 1 1 270px;
  display: flex;
  max-width: 270px;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.team-img-box {
  width: 100%;
  height: 100%;
}

.team-img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 25px;
  gap: 10px;
  height: 100%;
}

.team-name,
.team-role {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.team-name {
  font-weight: 700;
  color: var(--color-secondary);
}

.team-role {
  font-weight: 400;
  color: var(--color-tertiary);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-dark);
}

.logo-sct,
.addr-sct {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.addr-sct {
  margin-top: 28px;
  gap: 12px;
}

#span-studio {
  color: white;
}

.addr-sct > a {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  transition: var(--transition);
  color: rgba(255, 255, 255, 0.6);
}

.addr-sct > a:hover {
  cursor: pointer;
  color: rgba(210, 210, 210, 0.6);
}

.addr-sct > span {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  margin-right: 12px;
  color: var(--color-white);
}

.section--third .container > h2,
.section--fourth .container > h2,
.section--fifth .container > h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--color-secondary);
}


.icon-logo-6,
.icon-logo-5,
.icon-logo-4,
.icon-logo-3,
.icon-logo-2,
.icon-logo-1 {
  width: 160px;
  height: 60px;
}

.clients-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 50px;
}

.clients-intro > li {
  flex: 1 1 170px;
  max-width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-svg);
  border: 1px solid #afb1b8;
  transition: var(--transition);
}
.clients-intro > li:hover {
  cursor: pointer;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.span-studio {
  color: white;
}

/* Portfolio */
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.filter-button {
  padding: 6px 22px;
  background: var(--color-background);
  border-radius: 4px;
  border: 0;
  transition: var(--transition);
}

.filter-button:hover {
  background: var(--color-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
  cursor: pointer;
}

.filter-button {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.portfolio-box {
  flex: 1 1 370px;
  border: solid 1px #eee;
  margin: 0 auto;
  position: relative;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-portfolio > img {
  width: 100%;
  object-fit: cover;
}

.intro-portfolio {
  position: relative;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

.intro-portfolio > h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-secondary);
}

.intro-portfolio > p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-tertiary);
}

h3,
p {
  margin: 0;
  padding: 0;
}

.active {
  color: var(--color-primary);
  transition: var(--transition);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-primary);
  border-radius: 2px;
}

.subsribe-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.subsribe-form {
  display: flex;
  gap: 12px;
}

.subscribe-input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  padding: 16px;
  color: var(--color-white);
  transition: var(--transition);
  width: 100%;
}

.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.subscribe-input::placeholder {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  width: 24px;
  height: 24px;
  color: var(--color-white);
}

.subcribe-btn {
  color: var(--color-white);
  background: var(--color-primary);
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 11px 30px;
  gap: 10px;
  cursor: pointer;
}

.subcribe-btn > span {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.contact-modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 528px;
  max-height: 581px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contact-modal {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #0000001f,
    0px 1px 3px 0px #0000001f;
  background-color: var(--color-white);
  border-radius: 4px;
}

.contact-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.contact-input {
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.contact-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8;
  color: rgba(117, 117, 117, 0.5);
}

.contact-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px;
  outline: none;
}

.modal-content {
  position: relative;
  width: 100%;
  padding: 40px 39px 40px 41px;
  overflow: hidden;
}

.modal-content > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.2;
  color: var(--color-secondary);
  margin-bottom: 12px;
}

.contact-field > label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.9;
  color: var(--color-tertiary);
}

.icon-person,
.icon-contact-email,
.icon-phone {
  position: absolute;
  top: 20px;
  left: 15px;
  transform: translateY(-50%);
  color: var(--color-secondary);
  width: 18px;
  height: 18px;
}

.contact-input-box {
  display: flex;
  position: relative;
  width: 100%;
}

.contact-input-box:focus-within .icon {
  color: var(--color-primary);
}

.close {
  position: absolute;
  top: 0;
  margin-top: 6px;
  margin-right: 6px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 24px;
  border: 1px solid #0000001a;
  background: transparent;
}

.close:hover {
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-primary);
}

.agreement-label > input {
  appearance: none;
  border: 2px solid var(--color-secondary);
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.agreement-label > input:checked {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.agreement-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-input:focus,
.contact-textarea:focus {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

.agreement-label > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7;
  color: var(--color-tertiary);
}

.href-agreement {
  color: var(--color-primary);
}

.contact-btn {
  padding: 10px 65px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  border: 0;
  margin-top: 20px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.96;
  transition: var(--transition);
}

.contact-btn:hover {
  cursor: pointer;
  background: #0f6ab4;
}

.modal-overlay.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay:not(.is-hidden) {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.contact-modal.is-hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.contact-modal:not(.is-hidden) {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.back-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition), opacity var(--transition);
  padding: 24px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  background: rgba(33, 150, 243, 0.9);
  float: left;
}

.back-card > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.56;
  color: #ffffff;
}

.portfolio-box:hover .back-card {
  opacity: 1;
  cursor: pointer;
  transform: translateY(0);
}

.portfolio-box:hover {
  box-shadow: 1px 4px 6px 0px #00000029,  0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  transition: box-shadow var(--transition);
}

.addr-sct {
  white-space: nowrap;
}

.addr-sct a {
  display: inline-block;
}