:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-primary: #2196f3;
  --color-secondary: #212121;
  --color-tertiary: #757575;
  --color-background: #f5f4fa;
  --color-white: #ffffff;
  --color-dark: #2f303a;
  --box-shadow-light: 0 8px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 25px;
  border: solid #ececec 1px;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 94px 0 94px 0;
}

header > .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.header-left,
.header-right {
  display: flex;
  width: 50%;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
  gap: 70px;
}

.header-right {
  justify-content: flex-end;
}

.logo-text {
  display: flex;
  max-width: 145px;
  height: 31px;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.logo-text > span:nth-of-type(1) {
  color: var(--color-primary);
}

.nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}

li > a {
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}

li > a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.nav-addr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 500;
  gap: 20px;
  letter-spacing: 0.04em;
}

.nav-addr > a {
  text-decoration: none;
  color: var(--color-tertiary);
  transition: color 0.3s;
}

.nav-addr > a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section--portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--first {
  flex: 1;
  width: 100%;
  min-height: 615px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
}

.bnr-text {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.order-btn {
  font-family: var(--font-primary);
  padding: 15px 30px;
  border-radius: 4px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow-light);
  border: 0;
  color: var(--color-white);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.order-btn:hover {
  transform: scale(0.99);
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
}

.section--second {
  padding-bottom: 0;
}

.section--second > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.section--third,
footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.section--third .container,
.section--fourth .container {
  text-align: center;
}

.box-intro {
  flex: 1 1 300px;
  max-width: 280px;
}

.box-intro > h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

.box-intro > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-tertiary);
  margin-top: 10px;
}

.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 50px;
}

.img-box {
  flex: 1 1 300px;
  width: 100%;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-scroll {
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.section--fourth {
  flex: 1;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
}

.team-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.team-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.team-img-box {
  width: 100%;
  height: 70%;
}

.team-img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 25px;
  gap: 10px;
  height: 100%;
}

.team-name,
.team-role {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.team-name {
  font-weight: 700;
  color: var(--color-secondary);
}

.team-role {
  font-weight: 400;
  color: var(--color-tertiary);
}

footer {
  display: flex;
  justify-content: center;
  padding: 100px;
  max-height: 251px;
  align-items: center;
  background-color: var(--color-dark);
}

.logo-sct,
.addr-sct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-style: normal;
}

#span-studio {
  color: white;
}

.addr-sct > a {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}

.addr-sct > a:hover {
  cursor: pointer;
  color: rgba(210, 210, 210, 0.6);
}

.addr-sct > span {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.section--third > .container > h3,
.section--fourth .container > h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--color-secondary);
  margin: 0 auto;
}

.span-studio {
  color: white;
}

/* Portfolio */
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 120px 0 40px;
  justify-content: center;
  align-items: center;
}

.filter-button {
  padding: 6px 22px;
  background: var(--color-background);
  border-radius: 4px;
  border: 0;
  transition: 0.3s;
}

.filter-button:hover {
  background: var(--color-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
  cursor: pointer;
}

.filter-button {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.portfolio-box {
  flex: 1 1 300px;
  border: solid 1px #eee;
  margin: 0 auto;
}

.img-portfolio > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-portfolio {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.intro-portfolio > h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-secondary);
}

.intro-portfolio > p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-tertiary);
}

h3,
p {
  margin: 0;
  padding: 0;
}

.active {
  color: var(--color-primary);
  transition: 0.3s;
}
